.content{
  padding: 0px 10px;
}

.middle-origin{
  transform: translateY(25%);
}

.middle{
  position: relative;
  top:50%;
  transform: translateY(50%);
}

.menu-name{
  padding: .5rem .8rem;
  color: white;
  background-color: #2abca1;
  max-width: 80%;
}

.noDeco:hover{
  text-decoration: none!important;
}

.noDeco{
  transition: all .2s ease-in-out;
}

.list-group-item{
  border: solid 1px #2abca1;
}

.list-group-item:first-child{
  background-color: #2abca1;
  color: white;
}

.list-group-item.active{
  color: white;
  font-size: 18px;
  background-color: #45948c;
  border: solid 1px #2abca1;
}

.list-group-item.active:hover{
  cursor: default;
}

.myCard{
  border: solid 1px #c3c1c1;
  border-radius: 5px;
  padding: 1rem;
}

.myCard:hover{
  border: solid 1px #2abca1;
  cursor: pointer;
}

.list-group-item:last-child{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.myView{
  margin-left: 5rem;
  margin-right: 5rem;
}

.menu-iten{
  height: 8rem;
  color: #848383;
  background-color: #e6e6e6;
}

a{
  color: black;
}

a:hover{
  color: gray;
}

.menu-iten p{
  margin-top: .5rem;
  text-transform: uppercase;
}

.menu-iten:hover{
  color: #b9b9b9;
  border: 2px solid #2abca1;
  /*background-color: white;*/
}

.smooth-border{
  border: 1px solid #dadada;
  border-radius: .8rem;
}

.flexDislpayCenter{
  align-items: center;
  justify-content: center;
}
