.content{
  padding: 0px 10px;
}

.imgShow{
  width: 90%;
  margin: auto;
  max-height: 120px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.imgBox{
  height: 120px;
}

.centerXDiv{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.shadow{
  box-shadow: 2px 2px 5px #888888;
  border-radius: 5px;
  border: #d4d4d4 1px solid;
}

.p-absolute{
  position: absolute;
}

.centerYDiv{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.middle-origin{
  transform: translateY(25%);
}

.dz-default{
  display: none;
}

.preview img{
  border-radius: 5px;
}

.formInputFit{
}

.labelSize{
  width: 100%;
}

.inputSize{
  width: 100%;
}

.form-control{
  border-color: #7ecfd7;
}

@media (min-width: 576px){
  .labelSize{
    width: 10%;
  }

  .inputSize{
    width: 90%;
  }
}


@media screen and (min-width:620px) {
  .formInputFit{
    margin-left: -30px;

  }
}

.map{
    height: 400px;
    margin-right: -15px;
}

.myContainer{
  max-width: 850px;
  margin: auto;
}
/*@media screen and (max-width: 840px) {
  .myContainer{
    width: auto;
  }
}*/

.file-btn{
  width: 163px;
  height: 163px;
}

.file-preview{
  top: 5px;
  display: none;
  position: absolute;
  width: 150px;
  height: 150px;
}

.photo-preview, .labelP-preview{
  display: none;
  width: 100%;
  height: auto;
}

.labelP-preview{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

.file-dragOver{
  border: dotted 3px white;
}

.file-dragOver-green{
  border: dotted 3px #7ecfd7;
}

.labe-preview{
  z-index: 2;
  top: 5px;
  cursor: pointer;
  display: none;
  position: absolute;
  width: 150px;
  height: 150px;
}

.btn-confirm{
  background: #00aede;
  color: white;
  cursor: pointer;
}

.btn-back, .btn-back:hover{
  background: #4d8bff;
  color: white;
  cursor: pointer;
}

.btn-primary, .btn-primary:active{
  background: #ffffff;
    background-image: linear-gradient(to bottom, #ffffff, #cacaca);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    color: #484848;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 0px;
}

.btn-primary:hover{
  background: #ffffff;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #ffffff, #cacaca);
  color: #484848;
  text-decoration: none;
  border: 0px;
}

.fileUpload{
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
}
.fileUpload div{
  width: 45px;
  height: 45px;
}

.middle{
  position: relative;
  top:50%;
  transform: translateY(50%);
}

.menu-name{
  padding: .5rem .8rem;
  color: white;
  background-color: #00aede ;
  max-width: 80%;
}

.noDeco:hover{
  text-decoration: none!important;
}

.noDeco{
  transition: all .2s ease-in-out;
}

.list-group-item{
  border: solid 1px #2abca1;
}

.list-group-item:first-child{
  background-color: #2abca1;
  color: white;
}

.list-group-item.active{
  color: white;
  font-size: 18px;
  background-color: #45948c;
  border: solid 1px #2abca1;
}

.list-group-item.active:hover{
  cursor: default;
}

.myCard{
  border: solid 1px #c3c1c1;
  border-radius: 5px;
  padding: 1rem;
}

.myCard:hover{
  border: solid 1px #2abca1;
  cursor: pointer;
}

.list-group-item:last-child{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.myView{
  margin-left: 5rem;
  margin-right: 5rem;
}

.menu-iten{
  height: 8rem;
  color: #848383;
  background-color: #e6e6e6;
}

a{
  color: black;
}

a:hover{
  color: gray;
}

.menu-iten p{
  margin-top: .5rem;
  text-transform: uppercase;
}

.menu-iten:hover{
  color: #b9b9b9;
  border: 2px solid #038fc7;
  /*background-color: white;*/
}

.smooth-border{
  border: 1px solid #dadada;
  border-radius: .8rem;
}

.flexDislpayCenter{
  align-items: center;
  justify-content: center;
}
