.content{
  padding: 0px 10px;
}

.max100{
  font-size: 12px;
  position: absolute;
  overflow-y: auto;
  top: 61px;
  left: 20px;
  right: 20px;
  bottom: 0px;
}

#message .alert .exit{
  position: absolute;
  top: 0px;
  right: 24px;
}

#message .alert .exit:hover{
  cursor: pointer;
}

.table .hover:hover{
  background-color: #dee1e4;
  cursor: pointer;
}

.p-relative{
  position: relative;
}

.p-absolute{
  position: absolute;
}

.horizontal-center{
  top:50%;
  transform: translateY(-50%);
}

.activeBadge{
  width: 50px;
  height: 50px;
  right: 14px;
  top: -10px;
  border-radius: 50%;
  border: white 2px solid;
  color: white;
  background-color: #15c16a;
  position: absolute;
}

.notactiveBadge{
  width: 50px;
  height: 50px;
  right: 14px;
  top: -10px;
  border-radius: 50%;
  border: white 2px solid;
  color: white;
  background-color: red;
  position: absolute;
}

.activeBadge i{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.notactiveBadge i{
  position: relative;
  top: 46%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.imgShow{
  width: 90%;
  margin: auto;
  max-height: 120px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.imgBox{
  height: 120px;
}

.centerXDiv{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.leftBorder{
  border-left: 3px solid #ddd
}

.userInfo{
  font-weight: 100;
  font-style: italic;
}

.clientBackground{

}

.clientBackground.active{
  background-color:#0373a0;
  color:white;
}

a:hover{
  text-decoration: none;
}

a .clientBackground.active:hover{
  background-color:#015577;
}

.clientBackground.disable{
  background-color:#7d888c;
  color:white;
}

a .clientBackground.disable:hover{
  background-color:#656e71;
}



.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.shadow{
  box-shadow: 2px 2px 5px #888888;
  border-radius: 5px;
  border: #d4d4d4 1px solid;
}

.p-absolute{
  position: absolute;
}

.centerYDiv{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.middle-origin{
  transform: translateY(25%);
}

.dz-default{
  display: none;
}

.preview img{
  border-radius: 5px;
}

.formInputFit{
}

.labelSize{
  width: 100%;
}

.inputSize{
  width: 100%;
}

.form-control{
  border-color: #7ecfd7;
}

@media (min-width: 576px){
  .labelSize{
    width: 10%;
  }

  .inputSize{
    width: 90%;
  }
}


@media screen and (min-width:620px) {
  .formInputFit{
    margin-left: -30px;

  }
}

.map{
    height: 400px;
    margin-right: -15px;
}

.myContainer{
  max-width: 850px;
  margin: auto;
}

.absoluteFullcontent{
  position: absolute;
  left: 0px;
  top: 74px;
  right: 0px;
  bottom: 0px;
}

/*@media screen and (max-width: 840px) {
  .myContainer{
    width: auto;
  }
}*/

.file-btn{
  width: 163px;
  height: 163px;
}

.file-preview{
  top: 5px;
  display: none;
  position: absolute;
  width: 150px;
  height: 150px;
}

.photo-preview, .labelP-preview{
  display: none;
  width: 100%;
  height: auto;
}

.labelP-preview{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

.file-dragOver{
  border: dotted 3px white;
}

.file-dragOver-green{
  border: dotted 3px #7ecfd7;
}

.labe-preview{
  z-index: 2;
  top: 5px;
  cursor: pointer;
  display: none;
  position: absolute;
  width: 150px;
  height: 150px;
}

.list-group-item{
  font-size: 13px;
}

h4.list-group-item{
  font-size: 15px;
}

.btn-confirm{
  background: #00aede;
  color: white;
  cursor: pointer;
}

a:hover{
  cursor: pointer;
  color: #a7a7a7;
}

a.active, a:not([href]):not([tabindex]).active,a:not([href]):not([tabindex]).active:hover{
  color: white;
}

.btn-confirm:hover{
  color: white;
}

.btn-back, .btn-back:hover{
  background: #4d8bff;
  color: white;
  cursor: pointer;
}

.btn-primary, .btn-primary:active{
  background: #ffffff;
    background-image: linear-gradient(to bottom, #ffffff, #cacaca);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    color: #484848;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 0px;
}

.btn-primary:hover{
  background: #ffffff;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #ffffff, #cacaca);
  color: #484848;
  text-decoration: none;
  border: 0px;
}

.fileUpload{
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
}
.fileUpload div{
  width: 45px;
  height: 45px;
}

.middle{
  position: relative;
  top:50%;
  transform: translateY(50%);
}

.menu-name{
  padding: .5rem .8rem;
  color: white;
  background-color: #00aede ;
  max-width: 80%;
}

.noDeco:hover{
  text-decoration: none!important;
}

.noDeco{
  transition: all .2s ease-in-out;
}

.list-group-item{
  border: solid 1px #00aede;
}

.list-group-item:first-child{
  background-color: #00aede;
  color: white;
}

.list-group-item.active{
  color: white;
  background-color: #0373a0;
  border: solid 1px #00aede;
}

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 70%;
}

.list-group-item.active:hover{
  cursor: default;
}

.myCard{
  border: solid 1px #c3c1c1;
  border-radius: 5px;
  padding: 1rem;
}

.myCard:hover{
  border: solid 1px #00aede;
  cursor: pointer;
}

.list-group-item:last-child{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.myView{
  margin-left: 5rem;
  margin-right: 5rem;
}

.menu-iten{
  height: 8rem;
  color: #848383;
  background-color: #e6e6e6;
}

a{
  color: black;
}

a:hover{
  color: gray;
}

.menu-iten p{
  margin-top: .5rem;
  text-transform: uppercase;
}

.menu-iten:hover{
  color: #b9b9b9;
  border: 2px solid #038fc7;
  /*background-color: white;*/
}

.smooth-border{
  border: 1px solid #dadada;
  border-radius: .8rem;
}

.flexDislpayCenter{
  align-items: center;
  justify-content: center;
}
